name: Build Release Asset

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      commit_secret: ${{ secrets.commit_secret }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, intl, pdo, sqlite
          tools: composer, npm

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-ansi --no-interaction --no-scripts --no-progress --no-dev --optimize-autoloader

      - name: Build assets
        run: | 
          npm install
          npm run build
          
          mkdir public/build/img
          cp public/images/flags.png public/build/img/
          cp public/images/flags@2x.png public/build/img/

      - name: Create Release Build
        run: |
          # Remove unnecessary files
          rm -rf .git .github tests
          rm -f .gitattributes .gitignore phpunit.xml
          
          # Create zip file
          zip -r eventschedule.zip .

      - name: Create Release
        uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: "${{ secrets.commit_secret }}"
          draft: false
          prerelease: false
          title: "Latest Release"
          automatic_release_tag: "v0.9.4"
          files: |
            eventschedule.zip
